include ../mixins/nav
header
	.container
		.row
			.three.columns
				a(href="http://woozylabs.com")
					img.woozyLogo(src="assets/img/logo.png", alt="Woozy Labs Logo")
			img.mobileIcon(src="assets/img/mobileIcon.png")
			.six.columns.u-pull-right.nav
				+nav

