//
// Add whatever variables you would like
//

// Colors
$accent:  #e1c184;  




// font
$baseFontSize: 16; 
 
//mixins
@mixin social-icon{
  width: 51px;
  height: 51px;
  @include hide-text;   
  display: block; 
}

@mixin cloud{
	position: absolute;
	visibility:hidden;
}

// Device Breakpoint Definitions
$mobile: new-breakpoint(min-width 320px max-width 480px);
$tablet: new-breakpoint(min-width 768px max-width 1024px); 

// Content Device Breakpoint Definitions

