//
// Add whatever variables you would like
//

// Colors
$accent:  #e1c184;  




// font
$baseFontSize: 16; 
 
//mixins
@mixin social-icon{
  width: 51px;
  height: 51px;
  @include hide-text;   
  display: block; 
}

@mixin cloud{
	position: absolute;
	visibility:hidden;
}

@mixin blurbHidden{
	visibility:visible;
	display:none;
	margin: 0 auto;
}

@mixin pinHidden{
	display:none;
}

// Device Breakpoint Definitions
$mobile: new-breakpoint(min-width 320px max-width 480px);
$moblet: new-breakpoint(min-width 768px max-width 942px);
$tablet: new-breakpoint(min-width 768px max-width 1024px);
$desklet: new-breakpoint(min-width 942px max-width 1140px); 

// Content Device Breakpoint Definitions

