// Blog Colors
$blog-header-primary-color:  #f1c419;
$blog-background: #f2f2f2;
$blog-white:  #fff;
$blog-black:  #000;
$blog-text-color:  #ec4f4f;
$blog-dark-grey: #393939;
$blog-link-color:  #39CCCC;
$blog-link-hover: #333333;
$blog-header-color: #b4b4b4;
$blog-placeholder: #bdbdbd; 

// font
$blogFont: 'Biryani', sans-serif;
