mixin nav()
	ul
		li.blog: a(href="http://blog.woozylabs.com/", target="_blank") Blog
		li.email: a(href="mailto:woozylabs@gmail.com", target="_blank") Email
		li.twitter: a(href="https://twitter.com/WoozyLabs", target="blank") Twitter
		li.facebook: a(href="https://www.facebook.com/pages/Woozy-Labs/394275827412969", target="blank") Facebook
		li.pinterest: a(href="https://www.pinterest.com/woozylabs/", target="blank") Pinterest	 