
<div class="headerWrap">
	<div class="container">
		<div class="row">
			<header>
				<div class="container">
					<div class="row">
						<div class="logo three columns"><a href="http://woozylabs.com"><img class="woozyLogo" src="assets/img/logo.png" alt="Woozy Labs Logo"/></a></div><img class="mobileIcon" src="assets/img/mobileIcon.png"/>
						<div class="six columns u-pull-right nav">
							<ul>
								<li class="blog"><a href="/blog.html">Blog</a></li>
								<li class="email"><a href="mailto:woozylabs@gmail.com" target="_blank">Email</a></li>
								<li class="twitter"><a href="https://twitter.com/WoozyLabs" target="blank">Twitter</a></li>
								<li class="facebook"><a href="https://www.facebook.com/pages/Woozy-Labs/394275827412969" target="blank">Facebook</a></li>
								<li class="pinterest"><a href="https://www.pinterest.com/woozylabs/" target="blank">Pinterest	 </a></li>
							</ul>
						</div>
						<div class="blogIntro">
							<h1>Blog</h1>
							<p>Helpful How Tos, Tips, and Resources to Keep You and Your Family Healthy and Happy</p>
						</div>
					</div>
				</div>
			</header>
		</div>
	</div>
</div>