
<div class="footerWrap">
	<div class="container">
		<div class="row">
			<div class="footer">
				<div class="left seven columns"><img src="assets/img/feelinImage.png"/>
					<h3>{{site.data.settings.footer-title}}</h3>
					<p>{{site.data.settings.footer-blurb}}</p>
					<button><a href="mailto:woozylabs@gmail.com">Contact</a></button>
				</div>
				<div class="right five columns u-pull-right">
					<div class="reward"><img src="assets/img/w3award.png"/><img src="assets/img/gdaward.png"/><img src="assets/img/gdaward2016.png"/></div>
					<div class="app"><a href="https://itunes.apple.com/kn/app/woozy-labs-unite-against-germs/id969894256?mt=8"><img src="assets/img/appStore1.png"/></a><a href="http://play.google.com/store/apps/details?id=com.metrostarsystems.woozy"><img src="assets/img/googlePlay.png"/></a></div>
					<div style="clear:both"></div>
					<div class="copyright"><a href="blog.woozylabs.com"><img src="assets/img/woozyLogo.png"/></a>
						<div style="clear:both"></div>
						<p>Copyright &copy; 2015 Woozy LLC &nbsp;<a href="privacy.html">Privacy Policy </a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>