
<header> 
	<div class="stars"></div>
	<div class="container woozyHeader">
		<div class="row">
			<div class="three columns"><a href="http://woozylabs.com"><img class="woozyLogo" src="assets/img/{{site.data.settings.logo}}" alt="Woozy"/></a></div><img class="mobileIcon" src="assets/img/mobileIcon.png"/>
			<div class="six columns u-pull-right nav"> 
				<ul>
					<li class="blog"><a href="http://blog.woozylabs.com/" target="_blank">Blog</a></li>
					<li class="email"><a href="mailto:woozylabs@gmail.com" target="_blank">Email</a></li>
					<li class="twitter"><a href="https://twitter.com/WoozyLabs" target="blank">Twitter</a></li>
					<li class="facebook"><a href="https://www.facebook.com/pages/Woozy-Labs/394275827412969" target="blank">Facebook</a></li>
					<li class="pinterest"><a href="https://www.pinterest.com/woozylabs/" target="blank">Pinterest	 </a></li>
				</ul>
			</div>
		</div>
		<h1>{{site.data.settings.intro-title}}</h1>
		<p>{{site.data.settings.intro-blurb}}</p>
		<div class="store">
			<div class="three columns offset-by-three"><a href="https://itunes.apple.com/kn/app/woozy-labs-unite-against-germs/id969894256?mt=8"><img class="appStore" src="assets/img/appStore.png"/></a></div>
			<div class="three columns"><a href="http://play.google.com/store/apps/details?id=com.metrostarsystems.woozy"><img class="googleStore" src="assets/img/googleStore.png"/></a></div>
		</div>
		<div style="clear:both"></div><a href="#"><img class="pageDown" src="assets/img/pageDown.png" alt=""/></a>
	</div><img class="moon" src="assets/img/moon.png" alt=""/><img class="earth" src="assets/img/earth.png" alt=""/><img class="planet" src="assets/img/planet.png" alt=""/>
</header>