
<div class="teamWrap">
	<div class="container">
		<div class="row">
			<div class="team">
				<h2>{{site.data.settings.team-title}}</h2>{% if site.data.settings.team-blurb %}
				<p> {{site.data.settings.team-blurb}}</p>{% endif %} 
				<div class="members">{% for member in site.data.settings.team-members %}
					<div class="person"><img src="assets/img/{{member.img}}" alt="{{member.title}}-{{member.name}}"/>
						<p class="name">{{member.name}}</p>
						<p class="title">{{member.title}}</p>
					</div>{% endfor %} 
				</div>
			</div>
		</div>
	</div>
</div>