// Main CSS Animation Page



// Star Animation
@-webkit-keyframes backdrop {
  100% {background-position: -3004px 0;}
}
@keyframes backdrop {
  100% {background-position: -3004px 0;}
}

// Floating Icon
@-webkit-keyframes float {
  0% {margin-top: 50px;}
  100% {margin-top: 70px;}
}
@keyframes float {
  0% {margin-top: 50px;}
  100% {margin-top: 70px;}
}

// Rocket Flame Sprite
@-webkit-keyframes blastoff {
  0% {background-position: 0 0;}
  100% {background-position: 0 -2299px;}
}
@keyframes blastoff {
  0% { background-position: 0 0;}
  100% {background-position: 0 -2299px;}
}

// Light Bulb Flicker

@-webkit-keyframes flicker {
    0% {background-position: 0 0;}
    100% {background-position: 0 -170px;}   
}

@keyframes flicker {
    0% {background-position: 0 0;}
    100% {background-position: 0 -170px;}   
}

// Light Bulb On
@-webkit-keyframes on {
    0% {background-position: 0 0;}
    100% {background-position: 0 -85px;}   
}

@keyframes on {
    0% {background-position: 0 0;}
    100% {background-position: 0 -85px;}   
}