header{
	height: 975px;
	overflow:hidden;
	position:relative;
	@include media($mobile){
    padding-bottom:23px; 
    height: auto;
  }
  .mobileIcon{
  	cursor: pointer;
  	position: absolute;
  	right:15px;
  	top:89px;
  	display: none;
  	@media(max-width:1407px){
  		display: block;
  	}
  }
  .stars{
    background: url(/assets/img/starsBig.png) repeat-x;
    height: 1066px;    
    position:relative;
    width:100%;
    -webkit-animation: backdrop linear 40s infinite reverse;
    animation: backdrop linear 40s infinite reverse;
    margin: 0 auto;
  }
}