include mixins/nav  
header 
	.stars
	.container.woozyHeader
		.row
			.three.columns
				a(href="http://woozylabs.com")
					img.woozyLogo(src="assets/img/{{site.data.settings.logo}}", alt="Woozy")
			img.mobileIcon(src="assets/img/mobileIcon.png")
			.six.columns.u-pull-right.nav 
				+nav 
								
		h1 {{site.data.settings.intro-title}}
		p {{site.data.settings.intro-blurb}}
		.store
			.three.columns.offset-by-three
				a(href="https://itunes.apple.com/kn/app/woozy-labs-unite-against-germs/id969894256?mt=8")
					img.appStore(src="assets/img/appStore.png")
			.three.columns
				a(href="http://play.google.com/store/apps/details?id=com.metrostarsystems.woozy")
					img.googleStore(src="assets/img/googleStore.png") 
		div(style="clear:both")
		a(href="#")
			img.pageDown(src="assets/img/pageDown.png" , alt="")
	img.moon(src="assets/img/moon.png", alt="")
	img.earth(src="assets/img/earth.png", alt="")
	img.planet(src="assets/img/planet.png", alt="") 
