.learn
	.container
		img.comingSoon(src="assets/img/comingSoon.png")
		img.lightPole(src="assets/img/lightPole.png")

		.lightbulb

		h2 {{site.data.settings.learn-title}}
		p {{site.data.settings.learn-blurb}}

		.row.learnIcon
			.six.columns.offset-by-three
				img.learnBook(src="assets/img/book.png")
				img.learnAtom(src="assets/img/atom.png")
				img.learnBeaker(src="assets/img/beaker.png")
	include ../../_includes/triangle.html     
