.report
	.container
		.row
			.seven.columns.offset-by-two
				h2 {{site.data.settings.report-title}}
				p {{site.data.settings.report-blurb}}
			img.sickMobile(src="assets/img/sickMobile.png", alt="")
	.sky
		img.leftCloud(src="assets/img/leftCloud.png", alt="")
		img.leftCloud1(src="assets/img/leftCloud1.png", alt="")
		img.leftCloud2(src="assets/img/leftCloud2.png", alt="")
		img.rightCloud(src="assets/img/rightCloud.png", alt="")
		img.rightCloud1(src="assets/img/rightCloud1.png", alt="")
		img.rightCloud2(src="assets/img/rightCloud2.png", alt="")
		img.sickBlurb(src="assets/img/sickBlurb.png", alt="")
		.rocketship
		.blastoff

