.track
	.container.trackHeight
		h2 {{site.data.settings.track-title}}
		p {{site.data.settings.track-blurb}}


		.highSchool
			img.lgBlurb(src="assets/img/lgBlurb.png")
			img.lg-pin(src="assets/img/lg-pin.png")

		.cafe
			img.smallBlurb(src="assets/img/smallBlurb.png")
			img.small-pin(src="assets/img/small-pin.png")

		.mobile
			img.mobile-pin(src="assets/img/small-pin.png")

		.grass
			img.strepBlurb(src="assets/img/lgBlurb-strep.png")
			img.streplg-pin(src="assets/img/lg-pin.png")

		img.trackMobile(src="assets/img/trackMobile.png")
		img.trackTablet(src="assets/img/trackTablet.png")

	.greenWrapper
		img.town(src="assets/img/town.png")