<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ site.data.settings.privacy-title}}</title>
    <meta name="description" content="{{ site.data.settings.description }}" />
    <meta name="keywords" content="Woozy,report,track,share,report,game,sick,flu,health,community,illness,sickness,cough,WoozyLabs">
    <meta name="google-site-verification" content="AHjs6tud6w2bJKAkycJGuik4e6htVhlvjQjLl1NsJbA" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
    <link rel="icon" type="image/png" href="assets/img/favicon.png">  
  </head>
  <body class="privacy">
  {{ content }}
  {% include scripts.html %}
  </script>
  </body>
</html>
